.members {
  &__list {
    @extend .col;
    gap: 12px;

    &__row {
      @extend .row-fs-c;
      cursor: pointer;
      gap: 6px;

      * {
        pointer-events: none;
      }

      &:hover {
        opacity: 0.8;
      }
    }
    &__avatar {
      border-radius: 100px;
    }
    &__displayName {
    }
    &__username {
      opacity: 0.66;
    }
  }
}
